@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-thin.woff2") format("woff2"), url("../fonts/roboto-thin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-light.woff2") format("woff2"), url("../fonts/roboto-light.woff") format("woff");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-regular.woff2") format("woff2"), url("../fonts/roboto-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-bold.woff2") format("woff2"), url("../fonts/roboto-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-italic.woff2") format("woff2"), url("../fonts/roboto-italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Tahoma", sans-serif;
  background-color: #fff;
  color: #000; }
  body > svg {
    display: none; }

img {
  max-width: 100%;
  height: auto; }

.yellow-text {
  color: #fcff19; }

.btn {
  display: inline-block;
  padding: 15px 27px;
  border-radius: 9px;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #b7b7b7;
  border: none;
  transition: all 0.3s;
  cursor: pointer; }
  .btn:hover {
    background-color: #000;
    color: #fcff19; }
  .btn--dark {
    background-color: #000;
    color: #fcff19; }
    .btn--dark:hover {
      background-color: #fff;
      color: #000; }
  .btn--transparent {
    padding: 10px 21px;
    color: #fff;
    background-color: transparent;
    border: 3px solid #fff; }
    .btn--transparent:hover {
      background-color: transparent;
      color: #fcff19;
      border-color: #fcff19; }

.categories {
  padding-top: 66px;
  padding-bottom: 170px;
  background-image: url("../img/mountains-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.categories__wrapper {
  width: 1100px;
  margin: 0 auto; }

.categories__title {
  margin: 0;
  margin-bottom: 66px;
  font-size: 29px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center; }

.categories__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.categories__item {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  box-sizing: border-box;
  width: 350px;
  padding: 0 15px;
  padding-top: 133px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #525252;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .categories__item--1 {
    background-image: url("../img/bike-1.jpg"); }
  .categories__item--2 {
    background-image: url("../img/bike-2.jpg"); }
  .categories__item--3 {
    background-image: url("../img/bike-3.jpg"); }
  .categories__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/hover-filter.svg");
    background-repeat: no-repeat;
    background-position: left bottom;
    opacity: 0;
    transition: all 0.3s;
    z-index: 1; }
  .categories__item:hover::before {
    opacity: 1; }
  .categories__item:hover .categories__btn {
    position: relative;
    opacity: 1;
    z-index: 2; }

.categories__item-title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 15px;
  text-transform: uppercase;
  color: #fcff19; }

.categories__text {
  margin: 0;
  margin-bottom: 23px;
  color: #fff; }

.categories__btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: auto;
  opacity: 0;
  transition: all 0.2s; }

.contact {
  padding-top: 60px;
  padding-bottom: 85px;
  background-image: url("../img/bikegrey-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.contact__wrapper {
  width: 1100px;
  margin: 0 auto; }

.contact__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 29px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center; }

.contact__form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  width: 450px;
  margin: 0 auto; }

.contact__text {
  width: 100%;
  margin-bottom: 45px;
  font-size: 15px;
  text-align: center; }

.contact__btn {
  width: 100%; }

.field-wrapper {
  width: 100%;
  margin-bottom: 17px; }
  .field-wrapper > * {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 13px;
    font-family: "Roboto", "Tahoma", sans-serif;
    font-size: 12px;
    border: 1px solid #dadada;
    border-radius: 9px; }
    .field-wrapper > *::-webkit-input-placeholder {
      font-style: italic;
      text-transform: uppercase;
      color: #808080; }
    .field-wrapper > *::-moz-placeholder {
      font-style: italic;
      text-transform: uppercase;
      color: #808080; }
    .field-wrapper > *:-moz-placeholder {
      font-style: italic;
      text-transform: uppercase;
      color: #808080; }
    .field-wrapper > *:-ms-input-placeholder {
      font-style: italic;
      text-transform: uppercase;
      color: #808080; }
  .field-wrapper > textarea {
    min-height: 155px; }
  .field-wrapper--sm {
    width: 47%; }

.logo {
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.main-nav {
  background-color: transparent; }
  .main-nav--dark .main-nav__item a {
    color: #000; }
    .main-nav--dark .main-nav__item a:hover {
      color: #dd0034; }

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  .main-nav__list > .main-nav__item--drop:hover .main-nav__drop-list {
    display: block; }

.main-nav__item {
  position: relative;
  font-size: 15px; }
  .main-nav__item a {
    display: block;
    padding: 7px 16px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 9px;
    transition: all 0.2s; }
    .main-nav__item a:hover {
      color: #000;
      background-color: #fcff19; }
  .main-nav__item--drop:hover {
    background-color: #fcff19;
    border-radius: 9px; }
    .main-nav__item--drop:hover::before {
      content: "";
      position: absolute;
      bottom: -17px;
      width: 100%;
      height: 24px;
      background-color: #fcff19; }
  .main-nav__item--basket a {
    width: 26px;
    height: 26px;
    background-image: url("../img/basket-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45%;
    transition: all 0.2s; }
    .main-nav__item--basket a:hover {
      transform: scale(1.35);
      background-color: transparent; }
  .main-nav__item:hover a {
    color: #000; }

.main-nav__drop-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  width: 220px;
  background-color: #fcff19;
  border-radius: 9px; }
  .main-nav__drop-list::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 9px;
    height: 9px;
    background-color: #fcff19; }

.main-nav__drop-item a {
  color: #000;
  background-color: #fcff19;
  border-radius: 9px; }
  .main-nav__drop-item a:hover {
    color: #dd0034; }

.page-footer {
  padding: 17px 0;
  background-color: #fcff19; }

.page-footer__wrapper {
  width: 1100px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center; }

.page-header__wrapper {
  width: 1100px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding-top: 21px;
  z-index: 10; }

.popular {
  padding-top: 64px;
  padding-bottom: 35px; }

.popular__title {
  margin: 0;
  margin-bottom: 66px;
  font-size: 29px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center; }

.popular__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center; }

.popular__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 25px; }

.popular__img {
  -ms-flex-item-align: baseline;
      align-self: baseline;
  width: 100%; }

.popular__inner {
  margin-right: auto; }

.popular__name {
  display: block;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase; }

.popular__price {
  font-size: 15px;
  font-weight: 200; }

.popular__option {
  min-width: 145px;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #8f8f8f;
  border-radius: 9px;
  cursor: pointer; }

.popular__btn {
  margin-left: 10px; }

.slider {
  position: relative;
  box-sizing: border-box;
  min-height: 980px;
  padding-top: 397px;
  text-align: center;
  background-color: #3f1d12;
  background-image: url("../img/bike-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.slider__title {
  margin: 0;
  margin-bottom: 4px;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff; }

.slider__text {
  margin: 0;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 100;
  color: #fff; }

.slider__scroll-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 33px;
  width: 66px;
  height: 77px;
  background-image: url("../img/scroll-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }

@media (max-width: 1200px){
  .categories__wrapper{
    width: auto;
    margin: 0 30px; }
  .categories__item{
    padding-top: 45px;
    padding-bottom: 25px;
    border-radius: 5px;
    margin: 0 10px; }
  .categories__item::before{
    display: none; }
  .categories__btn{
    opacity: 1; }
  .contact__wrapper{
    width: auto;
    margin: 0 30px; }
  .main-nav__item a{
    color: #000; }
  .main-nav__item a:hover{
    color: #dd0034; }
  .main-nav__item--drop > a::after{
    content: "▼"; }
  .main-nav__item--basket a{
    background-image: url("../img/basket-icon-dark.png"); }
  .page-footer__wrapper{
    width: auto;
    margin: 0 30px; }
  .page-header__wrapper{
    width: auto;
    margin: 0 30px; }
  .page-header{
    background-color: #fcff19; }
  .page-header__wrapper{
    position: relative;
    left: auto;
    transform: none;
    padding-top: 2vh;
    padding-bottom: 2vh; }
  .popular__list{
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .popular__item{
    width: 65%;
    margin: 0 auto; }
  .slider{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    min-height: 90vh;
    padding-top: 0; }
  .slider__title{
    margin-top: auto;
    margin-bottom: 2vh; }
  .slider__text{
    margin-bottom: 10vh; }
  .slider__scroll-btn{
    position: static;
    transform: none;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 58px;
    height: 68px;
    margin-top: auto;
    margin-bottom: 3vh; } }

@media (max-width: 768px){
  .categories__wrapper{
    width: auto;
    min-width: 280px;
    margin: 0; }
  .contact__wrapper{
    width: auto;
    min-width: 280px;
    margin: 0; }
  .page-footer__wrapper{
    width: auto;
    min-width: 280px;
    margin: 0; }
  .page-header__wrapper{
    width: auto;
    min-width: 280px;
    margin: 0; } }
