.contact {
  padding-top: 60px;
  padding-bottom: 85px;
  background-image: url("../img/bikegrey-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contact__wrapper {
  @include wrapper;
}

.contact__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 29px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.contact__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 450px;
  margin: 0 auto;
}

.contact__text {
  width: 100%;
  margin: 0;
  margin-bottom: 45px;
  font-size: 15px;
  text-align: center;
}

.contact__btn {
  width: 100%;
}

@media #{$mobile-widths} {

  .contact {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .contact__title {
    margin-bottom: 15px;
    font-size: 23px;
  }

  .contact__form {
    width: 75%;
  }

}
