@media #{$desktop-widths-only} {
  .main-nav {
    &--dark {
      .main-nav__item {
        a {
          color: #000;
        }
      }
    }
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    @include ul-reset;
    display: flex;
    align-items: center;
  }

  .main-nav__item {
    &:not(:first-child) {
      margin-left: 8px;
    }
    a {
      display: block;
      padding: 8px 13px;
      font-size: 15px;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      border-radius: 7px;
      transition: all .3s;
      &:hover {
        color: #000;
        background-color: #fcff19;
      }
    }
    &--basket {
      margin-left: 30px !important;
      a {
        width: 26px;
        height: 26px;
        padding: 0;
        font-size: 0;
        background-image: url("../img/basket-icon.png");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0;
        &:hover {
          background-color: transparent;
          transform: scale(1.3);
        }
      }
    }
    &--with-drop {
      position: relative;
      > a {
        position: relative;
        z-index: 2;
        &:hover {
          background-color: transparent;
        }
      }
      &::before {
        content: "";
				position: absolute;
				top: 0;
				width: 100%;
				height: 0;
				background-color: #fcff19;
				border-top-left-radius: 7px;
				border-top-right-radius: 7px;
				opacity: 0;
				transition: height .13s linear .13s,
							      opacity .26s linear;
				z-index: 1;
      }
      &:hover {
        a {
          color: #000;
        }
      }
      &:hover::before {
        height: 70px;
        opacity: 1;
        transition-delay: 0s;
      }
    }
  }

  .main-nav__drop-toggle {
    display: none;
  }

  .main-nav__drop-list {
    @include ul-reset;
    position: absolute;
		top: 70px;
		left: 0;
		width: calc(100% + 125px);
		min-width: 125px;
		overflow: hidden;
    opacity: 0;
  }

  .main-nav__drop-item {
    a {
      box-sizing: border-box;
      min-height: 36px;
      color: #000;
      background-color: #fcff19;
      border-radius: 0;
      &:hover {
        color: #e90101;
      }
    }
    &:first-child {
      a {
        border-top-right-radius: 7px;
      }
    }
    &:last-child {
      a {
        border-bottom-left-radius: 7px;
				border-bottom-right-radius: 7px;
      }
    }
  }
}

@media #{$tablet-widths-only} {

  .main-nav {
    &--closed {
      .main-nav__toggle {
        &::before {
          content: "";
          position: absolute;
          top: 20px;
          left: 20px;
          width: 25px;
          height: 4px;
          background-color: #fff;
          box-shadow: 0 8px 0 0 #fff,
                      0 16px 0 0 #fff;
        }
      }
    }
    &--opened {
      position: fixed;
      top: 0;
      right: 0;
      .main-nav__list {
        display: block !important;
        width: 250px;
        height: 100vh;
        background-color: #fcff19;
        &::before {
          content: "";
          position: absolute;
          z-index: 1;
          width: 5px;
          height: 100%;
          background: linear-gradient(to right, #000, transparent);
        }
      }
      .main-nav__toggle {
        position: absolute;
        top: 20px;
        right: 280px;
        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 28px;
          left: 20px;
          width: 25px;
          height: 3px;
          background-color: #fff;
        }
        &::before {
          transform: rotate(45deg);
          box-shadow: none;
        }
        &::after {
          transform: rotate(-45deg);
        }
      }
    }
    &--dark {
      .main-nav__list {
        display: flex;
        flex-wrap: wrap;
      }
      .main-nav__item {
        a {
          border-bottom: none !important;
        }
      }
    }
  }

  .main-nav__toggle {
    position: relative;
    display: block;
    width: 63px;
    height: 61px;
    margin: 0;
    padding: 0;
    font-size: 0;
    background-color: transparent;
    border: none;
    &::before, &::after {
      transition: all 0.6s;
    }
  }

  .main-nav__list {
    @include ul-reset;
  }

  .main-nav__item {
    &:not(:last-child) {
      a {
        border-bottom: 1px solid #000;
      }
    }
    a {
      display: block;
      box-sizing: border-box;
      min-height: 56px;
      padding: 17px;
      font-size: 18px;
      line-height: 21px;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      text-align: left;
      color: #000;
      background-color: #fcff19;
    }
    &--with-drop {
      position: relative;
    }
  }

  .main-nav__drop-toggle {
    position: absolute;
    top: 0;
    right: 10px;
    display: block;
    padding: 0;
    width: 56px;
    height: 56px;
    font-size: 22px;
    line-height: 22px;
    background-color: transparent;
    border: none;
  }

  .main-nav__drop-list {
    @include ul-reset;
    overflow: hidden;
  }

  .main-nav__drop-item {
    a {
      padding-left: 35px;
      font-size: 16px;
      text-transform: none;
      color: #9400d3;
      border-bottom: none !important;
    }
  }

}

@media #{$mobile-widths} {

  .main-nav {
    width: 100%;
    &--closed {
      .main-nav__toggle {
        &::before {
          content: "";
          position: absolute;
          top: 20px;
          left: 20px;
          width: 25px;
          height: 4px;
          background-color: #000;
          box-shadow: 0 8px 0 0 #000,
                      0 16px 0 0 #000;
        }
      }
    }
    &--opened {
      .main-nav__toggle {
        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 28px;
          left: 20px;
          width: 25px;
          height: 3px;
          background-color: #000;
        }
        &::before {
          transform: rotate(45deg);
          box-shadow: none;
        }
        &::after {
          transform: rotate(-45deg);
        }
      }
    }
    &--dark {
      .main-nav__list {
        display: flex;
        flex-wrap: wrap;
      }
      .main-nav__item {
        width: 50%;
        a {
          text-align: center;
          border-bottom: none !important;
          &:active {
            color: #e90101;
            background-color: transparent;
          }
        }
      }
    }
  }

  .main-nav__toggle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 63px;
    height: 61px;
    margin: 0;
    padding: 0;
    font-size: 0;
    background-color: transparent;
    border: none;
    &::before, &::after {
      transition: all 0.6s;
    }
  }

  .main-nav__list {
    @include ul-reset;
  }

  .main-nav__item {
    &:not(:last-child) {
      a {
        border-bottom: 1px solid #000;
      }
    }
    a {
      display: block;
      padding: 17px;
      font-size: 18px;
      line-height: 21px;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      text-align: left;
      color: #000;
      background-color: #fcff19;
      &:active {
        background-color: #84ff60;
      }
    }
    &--with-drop {
      position: relative;
    }
  }

  .main-nav__drop-toggle {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: 0;
    width: 56px;
    height: 56px;
    font-size: 22px;
    line-height: 22px;
    background-color: transparent;
    border: none;
  }

  .main-nav__drop-list {
    @include ul-reset;
  }

  .main-nav__drop-item {
    a {
      padding-left: 35px;
      font-size: 16px;
      text-transform: none;
      color: #9400d3;
    }
  }
}
