.page-footer {
  padding: 17px 0;
  background-color: #fcff19;
}

.page-footer__wrapper {
  @include wrapper;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media #{$mobile-widths} {

  .page-footer__wrapper {
    flex-wrap: wrap;
  }

}
