.page-header__wrapper {
  width: 1100px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 21px;
  z-index: 10;
}

@media #{$tablet-widths} {

  .page-header__wrapper {
    width: calc(100% - 60px);
  }

}

@media #{$mobile-widths} {

  .page-header__wrapper {
    position: static;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 0;
    background-color: #fcff19;
    transform: none;
  }

}
