.popular {
  padding-top: 64px;
  padding-bottom: 35px;
}

.popular__title {
  margin: 0;
  margin-bottom: 66px;
  font-size: 29px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.popular__list {
  @include ul-reset;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular__item {
  display: flex;
  flex-wrap: wrap;
  margin: 0 25px;
}

.popular__img {
  align-self: baseline;
  width: 100%;
}

.popular__inner {
  margin-right: auto;
}

.popular__name {
  display: block;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.popular__price {
  font-size: 15px;
  font-weight: 200;
}

.popular__option {
  min-width: 145px;
  font-family: $main-font;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #8f8f8f;
  border-radius: 9px;
  cursor: pointer;
}

.popular__btn {
  margin-left: 10px;
}

@media #{$tablet-widths} {

  .popular__list {
    flex-wrap: wrap;
  }

  .popular__item {
    width: 65%;
    margin: 0 auto;
  }

}
