.slider {
  position: relative;
  box-sizing: border-box;
  min-height: 980px;
  padding-top: 397px;
  text-align: center;
  background-color: #3f1d12;
  background-image: url("../img/bike-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.slider__title {
  margin: 0;
  margin-bottom: 4px;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.slider__text {
  margin: 0;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 100;
  color: #fff;
}

.slider__btn {
  padding: 15px 27px;
  border-radius: 9px;
}

.slider__scroll-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 33px;
  width: 66px;
  height: 77px;
  background-image: url("../img/scroll-icon.png");
  background-repeat: no-repeat;
}
