.slider {
  position: relative;
  box-sizing: border-box;
  min-height: 980px;
  padding-top: 397px;
  text-align: center;
  background-color: #3f1d12;
  background-image: url("../img/bike-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slider__title {
  margin: 0;
  margin-bottom: 4px;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.slider__text {
  margin: 0;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 100;
  color: #fff;
}

.slider__scroll-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 33px;
  width: 66px;
  height: 77px;
  background-image: url("../img/scroll-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media #{$tablet-widths} {

  .slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
    padding-top: 0;
  }

  .slider__title {
    margin-top: auto;
    margin-bottom: 2vh;
  }

  .slider__text {
    margin-bottom: 10vh;
  }

  .slider__scroll-btn {
    position: static;
    transform: none;
    flex-shrink: 0;
    width: 58px;
    height: 68px;
    margin-top: auto;
    margin-bottom: 3vh;
  }

}
