.slider {
  position: relative;
  box-sizing: border-box;
  // min-height: 980px;
  min-height: 100vh;
  // padding-top: 397px;
  padding-top: 35vh;
  text-align: center;
  background-color: #3f1d12;
  background-image: url("../img/bike-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slider__title {
  margin: 0;
  margin-bottom: 4px;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.slider__text {
  margin: 0;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 100;
  color: #fff;
}

.slider__scroll-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 33px;
  width: 56px;
  height: 65px;
  background-image: url("../img/scroll-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media #{$tablet-widths} {

  .slider {
    min-height: 100vh;
    padding-top: 30vh;
  }

  .slider__title {
    margin-bottom: 2vh;
    font-size: 8vh;
    @include max-font-size(60px);
    line-height: 10vh;
  }

  .slider__text {
    margin-bottom: 10vh;
    font-size: 4vh;
    @include max-font-size(36px);
    line-height: 5vh;
  }

  .slider__btn {
    padding-top: 3vh;
    padding-bottom: 3vh;
    font-size: 2vh;
    @include max-font-size(18px);
    line-height: 2vh;
  }

  .slider__scroll-btn {
    bottom: 5vh;
    height: 10vh;
  }

}

@media #{$mobile-widths} {

  .slider {
    min-height: auto;
    padding-top: 70px;
  }

  .slider__title {
    max-width: 75%;
    margin: 0 auto;
    margin-bottom: 15px;
    font-size: 45px;
    line-height: normal;
  }

  .slider__text {
    max-width: 75%;
    margin: 0 auto;
    margin-bottom: 70px;
    font-size: 21px;
    line-height: normal;
  }

  .slider__btn {
    padding-top: 17px;
    padding-bottom: 17px;
    margin-bottom: 100px;
    font-size: 13px;
    line-height: normal;
  }

  .slider__scroll-btn {
    display: none;
  }

}
